.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

#main-data{
  display: block;
  text-align: center;
  margin-bottom: 10px;
  padding: 0px 50px;
}

.all {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: 10px;
}

.all button {
  background-color: #AF8210;
  padding: 10px;
  border-color: #AF8210;
  border-radius: 4px;
}

form.nosubmit {
  border: none;
  padding: 0;
  padding-left: 10px;
  padding-right: 10px;
}

input.nosubmit {
  border: 1px solid #555;
  width: 100%;
  padding: 10px 1600px 10px 40px;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat 13px center;
}

.container {
  margin: auto;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.container form {
  padding: 15px;
  width: 60%;
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.container-add {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 10px;
}
.container-add input{
  padding: 15px;
  border-radius: 5px;
  border: solid  1px black;
}

.btn-add {
  display: flex;
  flex-direction: row;
  gap: 10px;
}
.btn-add button,
.btn-add a{
  color: white;
  flex-grow: 1;
  background-color: #AF8210;
  text-decoration: none;
  text-align: center;
  border-radius: 4px;
  font-size: medium;
  cursor: pointer;
}
input:focus {
  outline:none;
}
.btn-add a{
  padding: 17px 15px 16px 15px;
}
.btn-add p{
  text-align: center;
  color: white;
  text-decoration: none;
  font-size: medium;
}

/* phone item */
.container-item{
  display: inline-flex;
  height: 100px;
  width: 200px;
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;;
  border-color: rgb(17, 16, 16);
  margin: 10px 5px 10px 6px;
  padding: 5px 2px 5px 5px;
  background-color: #CCCCCC;

}
.container-image{
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
}
.avatar{
  height: 90px;
  width: 80px;
  margin-top: 15px;
  border-radius: 50%;
  float: left;
}
.list{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
  height: 100px;
  width: 110px;
}
p {
  text-align: left;
  margin: 3px 0px;
  font-size: 13px;
}
.list-edit{
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  width: 110px;
}
.list-edit input{
  margin-left: 10px;
}

.btn-list{
  display: inline-flex;
  margin: 5px;
  background-color: #CCCCCC;
  margin-left: 10px;
}
.btn{
  height: 25px;
  width: 25px;
  background-color: #CCCCCC;
  font-size: medium;
  border: none;
  cursor: pointer;
}